In [1]:
import os
import pandas as pd
from sklearn import preprocessing
from sklearn import ensemble
# from . import dispatcher
from sklearn import metrics

In [2]:
TRAINING_DATA = "../input/train_folds.csv"
FOLD = 0

In [3]:
FOLD_MAPPING = {
    0: [1, 2, 3, 4],
    1: [0, 2, 3, 4],
    2: [0, 1, 3, 4],
    3: [0, 1, 2, 4],
    4: [0, 1, 2, 3]
}

In [4]:
df = pd.read_csv(TRAINING_DATA)
train_df = df[df.kfold.isin(FOLD_MAPPING.get(FOLD))]
valid_df = df[df.kfold == FOLD]

In [5]:
ytrain = train_df.target.values
yvalid = valid_df.target.values

In [6]:
ytrain[:5]

array([0, 1, 1, 1, 0], dtype=int64)

In [7]:
type(ytrain)

numpy.ndarray

In [8]:
train_df = train_df.drop(columns = ['id', 'target', 'kfold'])
valid_df = valid_df.drop(columns = ['id', 'target', 'kfold'])

In [9]:
# to make sure order of variables in train and validating data are same
valid_df = valid_df[train_df.columns]

In [10]:
label_encoders = []

In [12]:
train_df.dtypes

bin_0     int64
bin_1     int64
bin_2     int64
bin_3    object
bin_4    object
nom_0    object
nom_1    object
nom_2    object
nom_3    object
nom_4    object
nom_5    object
nom_6    object
nom_7    object
nom_8    object
nom_9    object
ord_0     int64
ord_1    object
ord_2    object
ord_3    object
ord_4    object
ord_5    object
day       int64
month     int64
dtype: object

In [13]:
train_df.head()

,bin_0,bin_1,bin_2,bin_3,bin_4,nom_0,nom_1,nom_2,nom_3,nom_4,...,nom_8,nom_9,ord_0,ord_1,ord_2,ord_3,ord_4,ord_5,day,month
0,0,0,1,T,Y,Red,Square,Cat,Russia,Theremin,...,644658db0,c896e7f45,3,Novice,Lava Hot,i,L,Gb,1,3
1,0,0,1,F,N,Red,Trapezoid,Cat,Costa Rica,Bassoon,...,19c6cda47,25fec866c,1,Grandmaster,Boiling Hot,a,S,Dx,7,10
2,0,1,0,F,N,Green,Polygon,Hamster,Costa Rica,Oboe,...,550e90c2e,178056a55,3,Grandmaster,Cold,f,J,gJ,1,11
3,1,0,1,T,Y,Red,Circle,Lion,Canada,Oboe,...,e5fcb5ae0,242460243,1,Grandmaster,Hot,j,K,ek,4,7
4,0,1,0,T,Y,Blue,Polygon,Lion,Costa Rica,Bassoon,...,384b0bc0c,645b0a17a,1,Novice,Boiling Hot,k,R,je,4,3

In [18]:
train_df['nom_0'].values.tolist()[:5]

['Red', 'Red', 'Green', 'Red', 'Blue']

In [19]:
for c in train_df.columns:
    lbl = preprocessing.LabelEncoder()
    lbl.fit(train_df[c].values.tolist() + valid_df[c].values.tolist())
    train_df.loc[:,c] = lbl.transform(train_df[c].values.tolist())
    valid_df.loc[:,c] = lbl.transform(valid_df[c].values.tolist())
    label_encoders.append((c,lbl))

In [20]:
label_encoders

[('bin_0', LabelEncoder()),
 ('bin_1', LabelEncoder()),
 ('bin_2', LabelEncoder()),
 ('bin_3', LabelEncoder()),
 ('bin_4', LabelEncoder()),
 ('nom_0', LabelEncoder()),
 ('nom_1', LabelEncoder()),
 ('nom_2', LabelEncoder()),
 ('nom_3', LabelEncoder()),
 ('nom_4', LabelEncoder()),
 ('nom_5', LabelEncoder()),
 ('nom_6', LabelEncoder()),
 ('nom_7', LabelEncoder()),
 ('nom_8', LabelEncoder()),
 ('nom_9', LabelEncoder()),
 ('ord_0', LabelEncoder()),
 ('ord_1', LabelEncoder()),
 ('ord_2', LabelEncoder()),
 ('ord_3', LabelEncoder()),
 ('ord_4', LabelEncoder()),
 ('ord_5', LabelEncoder()),
 ('day', LabelEncoder()),
 ('month', LabelEncoder())]

In [21]:
clf = ensemble.RandomForestClassifier(n_jobs=-1, verbose = 2)
clf.fit(train_df, ytrain)
preds = clf.predict_proba(valid_df)[:,1]
preds

[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 8 concurrent workers.

building tree 1 of 100building tree 2 of 100
building tree 3 of 100

building tree 4 of 100
building tree 5 of 100building tree 6 of 100

building tree 7 of 100
building tree 8 of 100
building tree 9 of 100
building tree 10 of 100
building tree 11 of 100
building tree 12 of 100
building tree 13 of 100
building tree 14 of 100
building tree 15 of 100
building tree 16 of 100
building tree 17 of 100
building tree 18 of 100
building tree 19 of 100
building tree 20 of 100
building tree 21 of 100
building tree 22 of 100
building tree 23 of 100
building tree 24 of 100
building tree 25 of 100
building tree 26 of 100
building tree 27 of 100
building tree 28 of 100
building tree 29 of 100
building tree 30 of 100
building tree 31 of 100
building tree 32 of 100
building tree 33 of 100building tree 34 of 100

building tree 35 of 100
building tree 36 of 100
building tree 37 of 100
building tree 38 of 100
building tree 39 of 100

[Parallel(n_jobs=-1)]: Done  25 tasks      | elapsed:    5.4s

building tree 40 of 100
building tree 41 of 100
building tree 42 of 100
building tree 43 of 100
building tree 44 of 100
building tree 45 of 100
building tree 46 of 100
building tree 47 of 100
building tree 48 of 100
building tree 49 of 100
building tree 50 of 100
building tree 51 of 100
building tree 52 of 100
building tree 53 of 100
building tree 54 of 100
building tree 55 of 100
building tree 56 of 100
building tree 57 of 100
building tree 58 of 100
building tree 59 of 100
building tree 60 of 100
building tree 61 of 100
building tree 62 of 100
building tree 63 of 100
building tree 64 of 100
building tree 65 of 100
building tree 66 of 100
building tree 67 of 100
building tree 68 of 100
building tree 69 of 100
building tree 70 of 100
building tree 71 of 100
building tree 72 of 100
building tree 73 of 100
building tree 74 of 100
building tree 75 of 100
building tree 76 of 100
building tree 77 of 100
building tree 78 of 100
building tree 79 of 100
building tree 80 of 100
building tree 81 of 100
building tree 82 of 100
building tree 83 of 100
building tree 84 of 100
building tree 85 of 100
building tree 86 of 100
building tree 87 of 100
building tree 88 of 100
building tree 89 of 100
building tree 90 of 100
building tree 91 of 100
building tree 92 of 100
building tree 93 of 100
building tree 94 of 100
building tree 95 of 100
building tree 96 of 100
building tree 97 of 100
building tree 98 of 100
building tree 99 of 100
building tree 100 of 100

[Parallel(n_jobs=-1)]: Done 100 out of 100 | elapsed:   18.0s finished
[Parallel(n_jobs=8)]: Using backend ThreadingBackend with 8 concurrent workers.
[Parallel(n_jobs=8)]: Done  25 tasks      | elapsed:    0.2s
[Parallel(n_jobs=8)]: Done 100 out of 100 | elapsed:    0.7s finished

array([0.63, 0.09, 0.52, ..., 0.22, 0.46, 0.51])

In [22]:
print(metrics.roc_auc_score(yvalid, preds))

0.7397511428188703